{
  "Entries": [
    {
      "RequestUri": "https://table.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Feb 2023 05:46:33 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "adventureworks"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-09T05%3A46%3A35.2004103Z\u0027\u0022",
        "Location": "https://table.table.cosmos.azure.com/Tables(\u0027adventureworks\u0027)"
      },
      "ResponseBody": {
        "TableName": "adventureworks",
        "odata.metadata": "https://table.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://table.table.cosmos.azure.com/adventureworks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Feb 2023 05:46:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "RowKey": "68719518388",
        "RowKey@odata.type": "Edm.String",
        "PartitionKey": "gear-surf-surfboards",
        "PartitionKey@odata.type": "Edm.String",
        "Name": "Ocean Surfboard",
        "Name@odata.type": "Edm.String",
        "Quantity": 8,
        "Sale": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-09T05%3A46%3A35.7561351Z\u0027\u0022",
        "Location": "https://table.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)"
      },
      "ResponseBody": {
        "odata.metadata": "https://table.table.cosmos.azure.com/adventureworks/$metadata#adventureworks/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-02-09T05%3A46%3A35.7561351Z\u0027\u0022",
        "RowKey": "68719518388",
        "PartitionKey": "gear-surf-surfboards",
        "Name": "Ocean Surfboard",
        "Quantity": 8,
        "Sale": true,
        "Timestamp": "2023-02-09T05:46:35.7561351Z"
      }
    },
    {
      "RequestUri": "https://table.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 09 Feb 2023 05:46:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200[...]
